<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="ParseCode.commands.category">
      </category>
      <command
            name="Parse"
            categoryId="ParseCode.commands.category"
            id="ParseCode.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ParseCode.commands.sampleCommand"
            class="huyamin.menuHandles.Parse">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ParseCode.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Function"
               mnemonic="M"
               id="ParseCode.menus.sampleMenu">
            <command
                  commandId="ParseCode.commands.sampleCommand"
                  mnemonic="S"
                  id="ParseCode.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
